.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: 100%;
}

.with-sidebar > :first-child {
  flex-basis: 250px;
  flex-grow: 1;
  padding: 1rem;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
  padding: 1rem;
}
